body {
  background-color: rgb(248, 246, 253);
  width: 100%;
}
body,
input,
textarea,
button {
  font-family: "Secular One", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form > input,
textarea {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.137);
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border: none;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
textarea:focus {
  border: 3px solid yellow;
}

.form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}