/* full screen a jeshb nav link thake shb gula ek sathe design*/
.navDesign {
  font-family: "Secular One", sans-serif;
  align-items: center;
  font-size: 17px;
}
/* Hidden NavBar Items .right side er je navbar er 3 ta daag shegular jonno overall*/
#nav-ham {
  width: auto;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1.5vw;
  margin-left: 0.5vw;
  z-index: 25;
  margin-top: 1vh;
}
/* oi je right side 3 ta bar types gula individual part er jonno */
.ham {
  width: 30px; /*2.5vw*/
  height: 4.2px; /*0.6vh*/
  margin: 0.8vh;
  background-color: #ffffff;
  border-radius: 1vw;
  transition: all 0.3s ease-in-out;
}

/* jno show kore uporer part ta */
#nav-ham.Diam {
  z-index: 30;
}

/* jokhn click korbo uporer bar ta change hoy se jonno*/
#nav-ham.Diam .top {
  transform: translateY(9px) translateX(0) rotate(45deg);
  background: #fff;
  z-index: 30;
}

/* jokhn click korbo majher bar ta change hoy se jonno*/
#nav-ham.Diam .middle {
  opacity: 0;
}

/* jokhn click korbo nicher bar ta change hoy se jonno*/
#nav-ham.Diam .bottom {
  transform: translateY(-8.5px) translateX(0) rotate(-45deg);
  background: #fff;
  z-index: 30;
}

/* click er por jeta ashbe setar click er ager obstha*/
.hiddenNav {
  position: fixed;
  background: #262e42;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

/*click korle jmn hbe*/
.hiddenNav.hamburgerOpen {
  opacity: 0.9;
  visibility: visible;
  height: 100vh;
  z-index: 25;
}

/* hamburger click korle setar vitorer listed items gula je side theke ashtese animation er moto seta. 9 ta row er jonno alada alada */
.hiddenNav.hamburgerOpen li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
  animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(5) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(7) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(8) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.hiddenNav.hamburgerOpen li:nth-of-type(9) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

/* pura shb link gular jonno*/
.hiddenNav nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}

/* ul er jonno class design*/
.hiddenNav .hamburger-menu {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  margin-top: 0.1rem;
}

/* li er jonno class design*/
.hiddenNav .hamburger-menu .hamburger-menu-item {
  display: block;
  min-height: 50px;
  position: relative;
  opacity: 0;
}

/* li er moddhe a tag er jonno design*/
.hiddenNav .hamburger-menu .hamburger-menu-item a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  font-size: 20px;
  font-size: 23px;
  font-family: "Montserrat";
  font-weight: 500;
}

/* listed item gular niche je underline ashe setar animation er jonno*/
.hiddenNav ul li .hm-hover1:hover:after,
.hiddenNav ul li .hm-hover1:focus:after,
.hiddenNav ul li .hm-hover1:active:after {
  width: 58%;
}
.hiddenNav ul li .hm-hover2:hover:after,
.hiddenNav ul li .hm-hover2:focus:after,
.hiddenNav ul li .hm-hover2:active:after {
  width: 63%;
}
.hiddenNav ul li .hm-hover3:hover:after,
.hiddenNav ul li .hm-hover3:focus:after,
.hiddenNav ul li .hm-hover3:active:after {
  width: 100%;
}
.hiddenNav ul li .hm-hover4:hover:after,
.hiddenNav ul li .hm-hover4:focus:after,
.hiddenNav ul li .hm-hover4:active:after {
  width: 100%;
}
.hiddenNav ul li a:after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

.hiddenNav ul li div:after {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

/* listed item gula je side theke faded hoye ashe uporer code a. shei faded animation er jonno */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
